.lock{
  display: inline;
  height: 40px;
}
.time{
  display: inline;
  text-align: center;
  border-top: 2px;
  border-bottom: 2px;
  border-right: 2px;
  border-style: dashed;
}
.events{
  width: 80%;
  align-content: center;
}
.timerContainer{
  display: inline;
  height: 47px;
  width: 20px;
  border-radius: 5px;
  background-color: blue;
}
.current{
  background-color: #13BAF0
}
.future{
  background-color: #A0F013;
}
.past{
  background-color: #F01313;
}